.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}
.calculator {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 8px 28px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin: 20px;
    min-height: 280px;
    background-color: #414140;
    border-radius: 12px;
}
.input-error {
    color: #d3aaaa;
    padding: 6px;
}
.btns {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}
.btn {
    width: 50px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    background-color: #414140;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
}
.operators {
    background-color: orange;
}
.delete-cont {
    border: 2px solid red;
    padding: 0px 10px 0px 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.value {
    margin: 10px;
    text-align: right;
    height: 30px;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 20px;
    background-color: transparent;
    color: #ffffff;
}
.history-content {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 370px;
    width: 300px;
    margin: 20px;
    background-color: rgb(78, 70, 70);
    color: #f5ebeb; 
    font-family: "Roboto";
    border-radius: 7px;
    overflow: auto;
}
.history {
    list-style-type:lower-roman;
}
.heading {
    text-align: center;
}
.each-li {
    font-size: 20px;
    padding: 5px;
    font-weight:900;
    
} 